/*----------------- media queries -----------------**/

@media (min-width: 950px) {
   /* wide browser windows */
     .artic-mini-btn, .artic-nav-wrap ul li  {
         width: 9%;
     }
     .artic-mini-btn-group{
         width: 9%;
     }     
     .artic-mini-btn-group button{
         /*width: 100%;*/
     }
   
}

@media (min-width: 450px) and (max-width: 950px) {
   /* netbooks/tablets */ 
     .artic-mini-btn, .artic-nav-wrap ul li {
         width: 7.5%;
     }
    .artic-mini-btn-group{
         width: 7.5%;
     }     
    .artic-mini-btn-group button{
         /*width: 100%;*/
     }
} 

@media (max-width: 450px) {
     /* mobile devices */ 
    .artic-mini-btn, .artic-nav-wrap ul li {
        width: 6%;
    }
    .artic-mini-btn-group{
        width: 6%;
    }     
    .artic-mini-btn-group button{
        /*width: 100%;*/
    }
}
