@import 'grazer-design';
@import 'font';
@import 'mixins';

div.printTitle { 
    display: none 
}

@media print {
    div.printTitle {
        display: block;
        position: running(printTitle);
    }
    @page {
        size: auto;
        margin: 0.5cm;
        margin-left: 1cm;
        text-align: center;
    }
  
    html, body { 
        width: 100%; 
        height: 100%; 
        text-align: center; 
    }
   
    html, body, ul, ol, li, form, fieldset, legend { 
        margin: 0; 
        padding: 0; 
    }
  
    .grazer-bundleListSideBarOuter,
    .grazer-progressBar,
    .grazer-menuBarTop,
    .grazer-menuBarBottom,
    .grazer-split-handler,
    .grazer-filter,
    .grazer-bundle-outer,
    .grazer-top-menu,
    .grazer-right-menu,
    .grazer-bottom-menu,
    .grazer-timelineCanvasButtons,
    .grazer-rightSideMenuOpenBtn,
    .grazer-levelButtonsContainer,
    .grazer-canvasSelectors,
    .grazer-levelResizeBtn,
    .grazer-levelButtonsContainer { 
        display: none !important; 
        height: 0 !important;
        width: 0 !important;
    } 
  
    .grazer-timeline-flexitem { 
        margin-bottom: 3px;
    }  
   
    .grazer-bottomPane { 
        margin-top: 0;
        background-color: pink;
    }
}
