<div class="artic-modal-wrap" ng-controller="ModalCtrl">
	<div class="artic-modal-header-large artic-modal-header">
	  <h3 id="modalHeading">
		Confirm
	  </h3>
	</div>
	<div class="artic-modal-body" ng-controller="ModalCtrl">
	    <div class="artic-text">
	        <div>{{dataIn}}</div>
	    </div>
	</div>
	<div class="artic-modal-footer">
		<button id="artic-modal-cancel" ng-click="modal.close();" class="artic-mini-btn">Cancel</button>
		<button id="artic-modal-confirm" ng-click="modal.confirm();" class="artic-mini-btn">Confirm</button>
	</div>
</div>







