<div class="grazer-modal-wrap" ng-controller="searchAnnotCtrl">
	<div class="grazer-modal-header-large grazer-modal-header">
	    <h3 id="modalHeading">Search Current Bundle Annotation</h3>
	</div>
	<div class="grazer-modal-body">
	    <div class="grazer-text">
	        <div>
	            <h2>Select hierarchy path to search in</h2>
   	            <select ng-model="curHierPathIdx" ng-options="hierPaths.possibleAsStr.indexOf(selectedPath) as selectedPath for selectedPath in hierPaths.possibleAsStr" ng-change="changedHierPath()"></select>
   	            
	        </div>
	        <div>
	            <h2>Select level in path</h2>
   	            <select ng-model="curLevel" ng-options="opt for opt in curLevels" ng-change="changedLevel()"></select>

	        </div>
   	        <div>
	            <h2>Select attribute definition</h2>
   	            <select ng-model="curAttrDef" ng-options="opt for opt in curAttrDefs" ng-change="changedAttrDef()"></select> 

	        </div>

	        <div>
	            <h2>Search string</h2>
   	            <input type="text" ng-model="searchString" ng-change="calcWindowSizeVals()" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> <br />
   	            Use RegEx Search: <input type="checkbox" ng-model="useRegExSearch"> <br />
   	            <button ng-click="search()">Search</button>
	        </div>
    	    <div>
	            <h2>Search result</h2>
	            <table class='grazer-modalTable' ng-if="resultTimeAnchors.length > 0">
	            	<tr>
	            		<td>search string</td>
	            		<td>sample_start</td>
	            		<td>sample_end</td>
	            	</tr>
	            	<tr ng-repeat="ta in resultTimeAnchors">
	            		<td>{{ta.label}}</td>
      					<td>{{ta.sample_start}}</td>
      					<td>{{ta.sample_end}}</td>
      				</tr>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="grazer-modal-footer">
	    <button ng-click="ModalService.close()" class="grazer-mini-btn">Cancel</button>
	    <button id="grazer-modal-save" ng-click="saveTimeAnchors()" class="grazer-mini-btn">Save search result as time anchors</button>
	</div>
</div>

