<div class="grazer-modal-wrap" ng-controller="ModalCtrl">
    <div class="grazer-modal-header-large grazer-modal-header">
        <h3 id="modalHeading">
            Please select a threshold
        </h3>
	</div>
	<div class="grazer-modal-body">
		<b>{{dataIn.description}}</b><br />&nbsp;<br />
		<p>find threshold options are: 
			<ul class="grazer-modalUl">
				<li>minimum value: {{dataIn.minVal}}</li>
				<li>maximum value: {{dataIn.maxVal}}</li>
				<li>threshold value: {{dataIn.threshold}}</li>
			</ul>
		</p>
		<b>Please select one of the following options:</b>
		<ul class="grazer-modalUl">
			<li ng-repeat="(key, curOpt) in dataIn.options">
				<div class="grazer-card" ng-click="modal.select($index)">
					<div class="row">
						<div class="col-md-6">
							<line-chart 
							data="dataIn.chartData" 
							threshold='curOpt.thresholdIdx'
							></line-chart>
						</div>
						<div class="col-md-6">
							<ul class="grazer-modalUl">
								<li>Threshold index: {{curOpt.thresholdIdx}}</li> 
								<li>Threshold value: {{curOpt.thresholdValue}}</li> 
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="grazer-modal-footer">
	  <!-- <button ng-click="modal.close();" id="modalCancelBtn" class="grazer-mini-btn">Cancel</button> -->
	</div>
</div>
