<div class="artic-modal-wrap" ng-controller="ModalCtrl">
    <div class="artic-modal-header-large artic-modal-header">
        <h3 id="modalHeading">
            Select label to link to
        </h3>
	</div>
	<div class="artic-modal-body">
		<b>Please select one of the following options:</b>
		<ul class="artic-modalUl">
			<li ng-repeat="(key, curOpt) in dataIn track by $index">
				<div class="artic-card" ng-click="modal.dataOut = $index; modal.confirmContent()">
					{{curOpt}}
				</div>
			</li>
		</ul>
	</div>
	<div class="artic-modal-footer">
	  <!--<button ng-click="modal.close();" id="modalCancelBtn" class="artic-mini-btn">Cancel</button>-->
	</div>
</div>