<!-- label configuration -->
<div class="grazer-text">
  <div ng-repeat="(key, value) in currentConfig" class="grazer-tabbed-table">
    <span class="grazer-tabbed-row">
      <span class="grazer-tabbed-cell">{{key}}</span>
      <span ng-switch="value.type">
        <span class="grazer-tabbed-cell" ng-switch-when="boolean">
          <input type="checkbox" name="{{key}}" ng-value="getConfigValue('main', '{{key}}')" id="{{key}}">
        </span>
        <span class="grazer-tabbed-cell" ng-switch-when="string">
          <input type="text" name="{{key}}" ng-model="value" id="{{key}}">
        </span>
        <span class="grazer-tabbed-cell" ng-switch-when="integer">
          <input type="text" pattern="\d*" ng-model="value" id="{{key}}">
        </span>
      </span>
    </span>
  </div>
</div>
<br/>
